<% if flash[:notice].present? %>
  <div class="alert alert-success">
    <%= flash[:notice] %>
  </div>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Rails - Spid</h1>
      <%= link_to 'Entra con SPID',
          spid_rails.new_sso_path(sso: { idp: :gov }),
          class: 'btn btn-primary' %>
      <%= link_to 'Esci',
        spid_rails.new_slo_path(sso: { idp: :gov }),
        class: 'btn btn-primary' %>
    </div>
  </div>
</div>
